.header {
  max-width: var(--container-width);
  width: 100%;
  height: 56px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  &__input {
    max-width: 333px;
    width: 100%;
    height: 56px;
    background-color: var(--bgcolor-gray);
    border-radius: var(--border-radius-input);
    color: var(--color-white);
    padding-left: 72px;
    font-weight: 400;
    font-size: 18px;

    &-wrapper {
      position: relative;
      max-width: 453px;
      width: 100%;
      height: 56px;
      display: flex;
      justify-content: space-between;
    }
    &-image {
      position: absolute;
      left: 28px;
      top: 16px;
      pointer-events: none;
    }
    &-theme {
      padding-left: 16px;
    }
  }
  &__theme-button {
    @include reset-button;
    scale: 2;
    cursor: pointer;
  }
}
