.todays-highlight {
  background-color: var(--bgcolor-gray);
  padding: 24px;
  border-radius: var(--border-radius);
  max-width: 664px;
  width: 100%;
  height: 387px;
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 157px) 1fr;

    gap: 18px;
    margin-top: 24px;
  }
  &__item {
    padding: 16px;
    text-align: right;
    display: flex;
    flex-direction: column;
    gap: 16px;
    &:nth-child(3),
    &:nth-child(6) {
      text-align: left;
      justify-content: center;
      max-width: 267px;
      width: 100%;
      height: 134px;
    }
    max-width: 157px;
    width: 100%;
    height: 134px;
    border-radius: var(--border-radius);
    background-color: var(--bgcolor-weather-card);
  }
  &__sunrise-wrapper {
    display: flex;
    justify-content: space-between;
  }
  &__sun {
    font-size: 16px;
    font-weight: 500;
  }
  &__sun-time {
    font-weight: 600;
    font-size: 24px;
  }
  &__weather-status-image {
    margin-right: 8px;
    vertical-align: middle;
  }
  &__weather-status-title {
    font-weight: 500;
    font-size: 16px;
  }
  &__status2 {
    font-size: 24px;
    font-weight: 600;
    &-subtitle {
      font-size: 14px;
      font-weight: 500;
    }
  }
  &__status3 {
    font-size: 14px;
  }
  &__pressure-image {
    width: 20px;
    height: 20px;
  }
}
