@mixin fluid-text($max, $min) {
  font-size: clamp(#{$min}px, #{$max / 1440 * 100}vw, #{$max}px);
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin reset-button {
  padding: 0;
  background-color: transparent;
  border: none;
}
