:root {
  --bgcolor-dark: #0f0f0f;
  --bgcolor-gray: #1e1e1e;
  --color-sidebar-items: #5e5e5e;
  --color-gray-temp: #b9b9b9;
  --color-white: #fff;
  --bgcolor-gray-inside: #363636;
  --bgcolor-weather-card: #272727;

  --border: 1px solid var(--color-dark);
  --border-radius-small: 16px;
  --border-radius: 24px;
  --border-radius-large: 32px;
  --border-radius-input: 36px;

  --font-family-base: "inter";

  --container-width: 1352px;
}
